body {
    font-family: Arial, Helvetica, sans-serif;
    background: #333333;
    color: wheat;
    margin: 30px;
}
header {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 4em;
    /* padding: 10px 0 0 0;  */
    margin-bottom: -5px;
}
img {
    width: 100%;
    padding: 10px ;
}
#img-caption {
    text-align: right;
    font-size: 9px;
}

main {
    font-size: 18px;
}
.link {
    text-align: center;
    background: grey;
    padding-bottom: 5px;
    margin: 0;
}
a:link {
    color: wheat;
    background-color: transparent;
    text-decoration: none;
  }

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

footer {
    text-align: center;
    background: rgb(64, 63, 74);
    padding: 2px 10px 2px 10px;
    font-size: 12px;
}